{% extends 'dashboard/index.html' %}
{% load static %}
<title>{% block title %} Add Scope Page Content {% endblock title %} </title>
{% block content %}

<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Edit Scope Page Content: </h4>
      <div>
        <img src="{{data.image.url}}" alt="" width="100cm">
      </div>
      <form class="forms-sample" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
          <label for="banner_image"> Image:</label>
          <input type="file" class="form-control"  id="image" name="image">
        </div>
        <div class="form-group">
          <label for="banner_image"> Service Name:</label>
          <input type="text" class="form-control" value="{{data.service_name}}"  id="service_name" name="service_name">
        </div>
        <div class="form-group">
          <label for="description">Descriptions:</label>
          <textarea type="text" class="form-control" cols="20" rows="8"   id="description" name="description">{{data.description}}</textarea>
       
      </div>
        <div class="row">
            <button type="submit" class="btn btn-primary mr-2">Edit Service </button>
          </div>
    </div>
    </form>
  </div>
</div>

<div>
    <h5>Show Services Recoard Lists:</h5>  
    <div>
        <a href="{% url 'showService' %}">Show Lists</a>
    </div>
</div>
{% endblock content %}