{% extends 'dashboard/index.html' %}
{% load static %}
<title>{% block title %} Show reference page  details {% endblock title %} </title>
{% block content %}
<div class="col-lg-11 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Reference  Page Content</h4>
      <div>
        <a href="{% url 'AddReferencePageContent' %}" class="btn btn-outline-primary btn-sm" style="padding:6px;" >Add New Content</a>
      </div>
      {% for message in messages %}
        <b style="color:#28c9ae">{{message}}</b>
        {% endfor %} <br>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Sr. No.
                </th>
                <th>
                   Image
                </th>
                <th>
                 Name:   
                </th>
                <th>Designation</th>
                <th>
                    Description
                </th>
        
                <th>
                  Action
                </th>

              </tr>
            </thead>
            <tbody>
              {% for data in data %}
              <tr>
                <td>
                  {{forloop.counter}}

                </td>

                <td>
                <img src="{{ data.image.url }}" alt="" style="height: 1in; width: 3cm;" >
                </td>

                <td>
                  {{data.user_name}}
                </td>
                <td>
                  {{data.user_designation}}
                </td>
                <td>
                  <textarea  cols="30" rows="10" disabled >{{data.resources_description}}  </textarea>
                </td>
                <td>
                  <a href="{% url 'EditReferenceContent' data.id %}" class="btn btn-outline-success btn-sm">Edit</a>
                  
                  <a href="{% url 'DeleteReferenceContent' data.id %}" class="btn btn-outline-danger btn-sm"
                    onclick="return confirm('Are You Sure')">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
{% endblock content %}