{% extends 'dashboard/index.html' %}
{% load static %}
<title>{% block title %} Show services sub headings lists details {% endblock title %} </title>
{% block content %}
<div class="col-lg-11 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"> {{service_id.page_title}} :-  Sub Headings Recoards Lists</h4>

      <div>

        <a href="{% url 'AddWhyUsSubHeading' service_id.id %}" class="btn btn-outline-primary btn-sm" style="padding:6px;" >Add New Sub Heading</a>

      </div>
      {% for message in messages %}

        <b style="color:#28c9ae">{{message}}</b>
        {% endfor %} <br>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Sr. No.
                </th>


                <th>
                    Sub Heading:
                </th>
              
                <th>
                  Action
                </th>

              </tr>
            </thead>
            <tbody>
              {% for data in data %}
              <tr>
                <td>
                  {{forloop.counter}}

                </td>

                <td>
                  {{data.sub_heading_name}}
                </td>

                <td>
                  <a href="{% url 'EditWhyUsSubHeadingLists' data.id %}" class="btn btn-outline-success btn-sm">Edit</a>
                  
                  <a href="{% url 'DeleteWhyUsSubHeading' data.id %}" class="btn btn-outline-danger btn-sm"
                    onclick="return confirm('Are You Sure')">Delete</a>
                </td>
              </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
{% endblock content %}